$secondary-text-color: #727272;
$main-font: "Space Grotesk", sans-serif;

$common-font-size: 24px;
$uncommon-font-size: 32px;

@use "sass:math";

* {
  box-sizing: border-box;
  margin: 0;
}

body,
a {
  font-family: $main-font;
}

body {
  background-color: black;
}

.main-image {
  width: 100%;
  height: 866px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

header {
  .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
  }

  .container {
    height: 72px;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 56px;
  }
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fdff00;
  color: black;
  text-decoration: none;
}

.link-button.small {
  width: 100px;
  height: 26px;
  font-size: 12px;
  font-weight: 700;
}

.link-button.medium {
  font-size: 18px;
  font-weight: 700;
  width: 180px;
  height: 40px;
}

.link-button.big {
  width: 286px;
  height: 56px;
  font-weight: 600;
  font-size: 24px;
}

.link-button.with-border {
  border: 1px solid #b2b2b2;
  background-color: transparent;
  color: #b2b2b2;
}

main {
  color: white;
  margin-top: 98px;
}

h1 {
  font-size: 72px;
  line-height: 98px;
}

.container>h2 {
  font-size: 28px;
  line-height: 40px;
  margin-top: 16px;
  margin-bottom: 36px;
}

.movie-tags {
  display: flex;
  gap: 32px;
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container>.movie-about {
  width: 604px;
  margin-top: 38px;
  margin-bottom: 48px;
  line-height: 26px;

  p:first-child {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
  }

  a {
    font-weight: 700;
    line-height: 26px;
    color: white;
  }
}

.movie-cards {
  margin-top: 55px;

  .movie-card {
    width: 392px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #383838;
    display: flex;
    overflow: hidden;
  }

  .card-content {
    padding: 16px;
  }

  .movie-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .tags {
    color: $secondary-text-color;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }

  .rating {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 4px;
  }

  .rating span {
    color: #fdff00;
    font-weight: 700;
  }

  .movie-about {
    color: $secondary-text-color;
    font-size: 12px;
    line-height: 16px;
  }

  .movie-links {
    display: flex;
    gap: 12px;
    margin-top: 12px;
  }
}

footer .container {
  padding: 36px 0;
}

.licenses {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $secondary-text-color;
  font-size: 10px;
  line-height: 12px;
}

.socials {
  display: flex;
  gap: 32px;
}